<h2 class="display-5 text-muted text-center my-3"><i class="fa fa-money fa-lg" aria-hidden="true"></i>&nbsp; Manage IPO
</h2>
<hr>

<div class="text-center mb-3">
    <button class="btn border-dark" routerLink="/admin/add-ipo"><i class="fa fa-money fa-lg" aria-hidden="true"></i>&nbsp; Add
        IPO</button>
</div>

<div class="row">
    <div class="container-fluid col-12 col-md-10 ">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-light">
                <tr>
                    <th>Id</th>
                    <th>Company Name</th>
                    <th>Stock Exchange</th>
                    <th>Price per Share</th>
                    <th>Total Share</th>
                    <th>Open Date</th>
                    <th colspan="2">Actions</th>
                </tr>
                <tbody>
                    <tr *ngFor="let ipo of ipoList">
                        <td>{{ipo.id}}</td>
                        <td>{{ipo.companyName}}</td>
                        <td>{{ipo.stockExchange}}</td>
                        <td>{{ipo.pricePerShare}}</td>
                        <td>{{ipo.noOfShares}}</td>
                        <td>{{ipo.openDate}}</td>
                        <td><i class="fa fa-pencil fa-lg" aria-hidden="true" (click)="updateIpo(ipo)"></i></td>
                        <td><i class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteIpo(ipo)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>