<h2 class="display-5 text-muted text-center my-3"><i class="fa fa-user fa-lg " aria-hidden="true"></i>&nbsp; Users List
</h2>
<hr>

<router-outlet></router-outlet>

<div class="text-center mb-3">
    <button class="btn border-dark " routerLink="/sign_up"> <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Add
        User</button>
</div>

<div class="row">

    <div class="container-fluid col-12 col-md-10">
        <div class="table-responsive">
            <table class="table  table-striped table-hover table-light">
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>User Type</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th colspan="2">Actions</th>
                </tr>
                <tbody>
                    <tr *ngFor="let user of userList">
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.userType}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td><i class="fa fa-pencil fa-lg" aria-hidden="true" (click)="updateUser(user)"></i></td>
                        <td><i class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteUser(user)"></i></td>

                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>