<h2 class="display-5 text-muted text-center my-3"><i class="fa fa-exchange fa-lg" aria-hidden="true"></i>&nbsp; Update Stock
    Exchange</h2>
<hr>
<div class="row no-gutters">

    <div class="w-25 border-right col-auto h-75 col-md-2">

        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" [routerLink]="['/import-data']"><i
                    class="fa fa-file-excel-o fa-lg" aria-hidden="true"></i>&nbsp; Import Data</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-company']"><i
                    class="fa fa-building fa-lg" aria-hidden="true"></i>&nbsp; Manage Company</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/users']">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp; Manage Users</a>
            <a class="list-group-item list-group-item-action  bg-info text-light" [routerLink]="['/manage-exchange']">
                <i class="fa fa-exchange fa-lg" aria-hidden="true"></i>&nbsp; Manage Exchange</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-ipo']">
                <i class="fa fa-money fa-lg" aria-hidden="true"></i>&nbsp; Manage IPO</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/manage-stockPrice']">
                <i class="fa fa-inr fa-lg" aria-hidden="true"></i>&nbsp; Manage Stock
                Price</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/home']">
                <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>&nbsp;Logout</a>
        </div>

    </div>



    <div class="container col">

        <form class="form-group w-75 container" [formGroup]="updateStockExchange" (ngSubmit)="saveExchange()">

            <div class="formGroup">
                <label for="id">id:</label>
                <input type="text" class="form-control" formControlName="id" id="id" placeholder="id">
            </div>
            <div class="formGroup">
                <label for="stockExchangeName">Stock Exhange Name:</label>
                <input type="text" class="form-control" formControlName="stockExchangeName" id="stockExchangeName"
                    placeholder="Enter name of stock exchange">
            </div>
            <div class="formGroup">
                <label for="breif">Breif:</label>
                <input type="text" class="form-control" formControlName="breif" id="breif"
                    placeholder="not more than 50 words">
            </div>
            <div class="formGroup">
                <label for="address">Contact Address:</label>
                <input type="text" class="form-control" formControlName="address" id="address"
                    placeholder="enter contact address">
            </div>
            <div class="formGroup">
                <label for="remarks">Remarks:</label>
                <input type="text" class="form-control" formControlName="remarks" id="remarks"
                    placeholder=" not more than 100 words">
            </div>
            <div class="text-center mt-3 mb-5">
                <button type="submit" class="btn  btn-success px-5 mx-3" (click)="updateTheExchange(exchange )">Update
                    Exchange</button>
            </div>

        </form>
    </div>
</div>