<h2 class="display-5 text-muted text-center my-3"><i class="fa fa-exchange fa-lg" aria-hidden="true"></i>&nbsp; Manage
    Exchange</h2>
<hr>

<div class="text-center mb-3">
    <button class="btn border-dark " routerLink="/admin/add-exchange"><i class="fa fa-exchange fa-lg"
            aria-hidden="true"></i>&nbsp; Add Exchange</button>
</div>

<div class="row">

    <div class="container-fluid col-12 col-md-10 w-75">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-light">
                <tr>
                    <th>Id</th>
                    <th>Stock Exhange Name</th>
                    <th>Breif</th>
                    <th>Contact Address</th>
                    <th>Remarks</th>
                    <th colspan="2">Actions</th>
                </tr>
                <tbody>
                    <tr *ngFor="let exchange of exchangeList">
                        <td>{{exchange.id}}</td>
                        <td>{{exchange.stockExchangeName}}</td>
                        <td>{{exchange.breif}}</td>
                        <td>{{exchange.address}}</td>
                        <td>{{exchange.remarks}}</td>
                        <td><i class="fa fa-pencil fa-lg" aria-hidden="true" (click)="updateExchange(exchange)"></i>
                        </td>
                        <td><i class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteExchange(exchange)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>