<div class="row">
    <div class="col-md-6 offset-md-3">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-group responsive pb-3  container">
            <div class="card-header rounded bg-dark shadow">
                <h2 class="display-4  text-center text-muted">Sign In</h2>
            </div>
    
            <div class="card p-4 shadow">
                <label>Username:</label>
                <input type="text" class="form-control mb-3" formControlName="userName" placeholder="Enter your user name">
                <label>Password:</label>
                <input type="text" class="form-control mb-3" formControlName="password" placeholder="Enter your password">
    
                <div class="text-center mt-3">
                    <input [disabled]="!loginForm.valid" type="reset" class="btn btn-sm-sm  btn-info px-3  mx-3">
                    <input [disabled]="!loginForm.valid" type="submit" class="btn btn-sm-sm   btn-success px-3">
                </div>
            </div>
    </form>
    </div>
</div>