<h2 class="display-5 text-muted text-center my-3"><i class="fa fa-exchange fa-lg" aria-hidden="true"></i>&nbsp; Add
    Stock Exchange</h2>
<hr>

<div class="row">
    <div class="container-fluid col-12 col-md-10">
        <form class="p-2 p-md-5  jumbotron shadow " [formGroup]="addStockExchange" (ngSubmit)="saveExchange()">
            <div class="form-group">
                <label for="stockExchangeName">Stock Exhange Name:</label>
                <input type="text" class="form-control" formControlName="stockExchangeName" id="stockExchangeName"
                    placeholder="Enter name of stock exchange">
            </div>
            <div class="form-group">
                <label for="breif">Breif:</label>
                <input type="text" class="form-control" formControlName="breif" id="breif"
                    placeholder="not more than 50 words">
            </div>
            <div class="form-group">
                <label for="address">Contact Address:</label>
                <input type="text" class="form-control" formControlName="address" id="address"
                    placeholder="enter contact address">
            </div>
            <div class="form-group">
                <label for="remarks">Remarks:</label>
                <input type="text" class="form-control" formControlName="remarks" id="remarks"
                    placeholder=" not more than 100 words">
            </div>
            <div class="text-center mt-3">
                <input type="reset" class="btn btn-sm-sm  btn-info px-1 px-md-5 mr-2">
                <input type="submit" class="btn btn-sm-sm btn-success px-1 px-md-5 ml-2">
            </div>

        </form>
    </div>
</div>