<div class="shadow rounded" style="background-color: rgba(0,0,0, 0.199); min-height: 85vh;">

    <nav class="navbar navbar-expand-md navbar-dark navbar-custom">

        <a [routerLink]="['/admin']" class="text-light  text-decoration-none display-5">
            <span class="text-info">ADMIN</span></a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#adminNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a [routerLink]="['./users']" [routerLinkActive]="['active']"
                        class="nav-link">Users</a></li>
                <li class="nav-item"><a [routerLink]="['./manage-company']" [routerLinkActive]="['active']"
                        class="nav-link">company</a></li>
                <li class="nav-item"><a [routerLink]="['./manage-ipo']" [routerLinkActive]="['active']"
                        class="nav-link">IPO</a></li>
                <li class="nav-item"><a [routerLink]="['./manage-exchange']" [routerLinkActive]="['active']"
                        class="nav-link">Stock Exchange</a></li>
                <li class="nav-item"><a [routerLink]="['./manage-stockPrice']" [routerLinkActive]="['active']"
                        class="nav-link">Stock Price</a></li>
                <li class="nav-item"><a [routerLink]="['./import-data']" [routerLinkActive]="['active']"
                        class="nav-link">Document Upload</a></li>
            </ul>
            <a [routerLink]="['/home']" class="text-success  text-decoration-none">Logout</a>
        </div>

    </nav>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>