<h2 class="display-5 text-center my-3 text-muted"><i class="fa fa-money fa-lg" aria-hidden="true"></i>&nbsp; Add IPO
</h2>
<hr>

<div class="row">
    <div class="container-fluid col-12 col-md-10">
        <form class="p-1 p-md-5 jumbotron shadow" [formGroup]="addIpo" (ngSubmit)="saveIpo()">

            <div class="form-group ">
                <label for="companyName">Company Name:</label>
                <input type="text" class="form-control" id="companyName" formControlName="companyName"
                    placeholder=" Add Company Name Here">
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label for="stockExchange">Stock Exchange:</label>
                    <input type="text" class="form-control" id="stockExchange" formControlName="stockExchange"
                        placeholder=" Add Stock Exchange">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="pricePerShare">Price Per Share:</label>
                    <input type="number" class="form-control" id="pricePerShare" formControlName="pricePerShare"
                        placeholder=" Price in Rupees">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label for="noOfShares">No. of Shares:</label>
                    <input type="text" class="form-control" id="noOfShares" formControlName="noOfShares"
                        placeholder=" Total no. of Shares">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="openDate">Open Date:</label>
                    <input type="date" class="form-control" id="openDate" formControlName="openDate"
                        placeholder=" dd/mm/yyyy">
                </div>
            </div>
            <div class="form-group">
                <label for="remarks">remarks:</label>
                <textarea type="text" class="form-control" id="remarks" formControlName="remarks"
                    placeholder=" remarks"></textarea>
            </div>

            <div class="text-center mt-3 mb-5">
                <button type="submit" class="btn  btn-success px-5 mx-3">Add
                    IPO</button>
            </div>
        </form>
    </div>
</div>