<main>
    <div class="container pt-1">
        <div class="">
            <h2 class="display-4 my-3 text-center text-muted">Sign In</h2>
            <form [formGroup]="userLoginForm" (ngSubmit)="login()" class="form-group w-50 shadow jumbotron p-5 container">
                <label>Username:</label>
                <input type="text" class="form-control mb-3" formControlName="userName"
                    placeholder="Enter your user name">
                <label>Password:</label>
                <input type="text" class="form-control mb-3" formControlName="password"
                    placeholder="Enter your password">

                <div class="text-center mt-5">
                    <input [disabled]="!userLoginForm.valid" type="reset" class="btn  btn-info px-5 mx-3">
                    <input [disabled]="!userLoginForm.valid" type="submit" class="btn btn-success px-5">
                </div>
            </form>
        </div>
    </div>
</main>