<h2 class="display-5 text-center my-3 text-muted"><i class="fa fa-inr fa-lg" aria-hidden="true"></i>&nbsp; Add Stock
    Price</h2>
<hr>

<div class="row">
    <div class="container-fluid col-12 col-md-10">
        <form class=" p-1 p-md-5 jumbotron shadow" [formGroup]="addStockPrice" (ngSubmit)="saveStockPrice()">

            <div class="form-group ">
                <label for="companyCode">Company Code:</label>
                <input type="text" class="form-control" id="companyCode" formControlName="companyCode"
                    placeholder=" Add Company Code Here">
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label for="stockExchange">Stock Exchange:</label>
                    <input type="text" class="form-control" id="stockExchange" formControlName="stockExchange"
                        placeholder=" Add Stock Exchange">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="currentPrice">Current Price :</label>
                    <input type="number" class="form-control" id="currentPrice" formControlName="currentPrice"
                        placeholder=" Price in Rupees">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label for="date">Date:</label>
                    <input type="text" class="form-control" id="date" formControlName="date" placeholder="  dd/mm/yyyy">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="time">Time:</label>
                    <input type="time" class="form-control" id="time" formControlName="time" placeholder="Time">
                </div>
            </div>

            <div class="text-center mt-3 mb-5">
                <button type="submit" class="btn  btn-success px-5 mx-3">Add
                    Stock Price</button>
            </div>
        </form>

    </div>
</div>